In [7]:
import pandas as pd
import seaborn as sns
import numpy as np

In [8]:
rs = pd.read_pickle("tidySets.pkl") # recent sets
rs = rs[rs["Year"].dt.year > 1960]

rs.head

<bound method NDFrame.head of                                                  Set Name       Year  \
1315                                                 7-11 1961-01-01
1316                    Baseball Player Key Chains-Insert 1961-01-01
1317                                              Bazooka 1961-01-01
1318                                 Bazooka Complete Box 1961-01-01
1319                                        Bazooka Panel 1961-01-01
...                                                   ...        ...
314975  Topps X Julio Rodriguez Show Out Collection Ro... 2023-01-01
314976  Topps X Julio Rodriguez Show Out Collection St... 2023-01-01
314977                    Topps X MLB Clubhouse Exclusive 2023-01-01
314978                   Wild Card 5 Card Draw Autographs 2023-01-01
314979                    Wild Card Auto Mania Autographs 2023-01-01

           Grade  Count
1315        Auth      0
1316        Auth      3
1317        Auth    162
1318        Auth      1
1319        Auth     29
...          ...    ...
314975  GEM‑MT10      1
314976  GEM‑MT10      1
314977  GEM‑MT10     15
314978  GEM‑MT10     17
314979  GEM‑MT10     37

[299100 rows x 4 columns]>

In [ ]:
sns.barplot(x = "Set Name", y = "Count", hue = "Grade", data = rs)
plt.show()

In [ ]:
np.random.seed(42)
data_size = 50
x_data = np.random.rand(data_size)
y_data = 2 * x_data + 1 + 0.1 * np.random.randn(data_size)

# Creating a scatter plot with Seaborn
sns.scatterplot(x=x_data, y=y_data)

# Adding labels and title
plt.xlabel('X-axis')
plt.ylabel('Y-axis')
plt.title('Sample Seaborn Scatter Plot')